/*/var/www/site_1.local/public_html/X51/vendor/quanzo/x51-frontend/tests/input/1.css*/a{color: #000;background: url(bg.jpg);}/*/var/www/site_1.local/public_html/X51/vendor/quanzo/x51-frontend/tests/input/2.scss*/p.blue {
  color: #00f; }
p.white {
  color: #fff;
  background-color: #000; }
